<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysq.backstage.mapper.CourseMapper">

    <select id="findCountByMap" parameterType="map" resultType="int">
        select count(*) from t_course_order;

    </select>

    <select id="findListByMap" parameterType="map" resultType="courseInfo">
        select  * from t_course_order order by order_date desc limit #{start},#{limit} ;
    </select>

    <insert id="insert" parameterType="courseInfo">
        INSERT INTO t_course_order
        (uuid,order_id,name,wechat_no,wechat_mark,
        qq_no,tel,course_name,course_price,order_date,
        update_datetime,remark)
        VALUES
        (UUID(), UUID(), #{name}, #{wechat_no},#{wechat_mark},
        #{qq_no}, #{tel}, #{course_name},
        #{course_price},#{order_date},
        CURRENT_TIMESTAMP(),#{remark});
</insert>

</mapper>
